.filter-table-wrapper {
  display: flex;
}

.filter-wrapper {
  padding-right: 10px;
}

.filter-wrapper button {
  width: 100%;
  margin-bottom: 4px;
  text-align: left;
  font-size: 13px;
  padding: 1px 9px;
}

.d-none {
  display: none;
}