.filter-table-wrapper {
  display: flex;
}

.filter-wrapper {
  padding-right: 10px;
}

.filter-wrapper button {
  width: 100%;
  margin-bottom: 4px;
  text-align: left;
  font-size: 13px;
  padding: 1px 9px;
}

.d-none {
  display: none;
}

.actions-right {
  display: flex;
  justify-content: flex-end;

  button {
    font-size: 13px;
  }
}

.excel-exporting-options {
  .ant-dropdown-menu-item {
    font-size: 13px;
    padding: 5px 17px;
  }

  .ant-dropdown-menu-item:hover {
    background-color: #e6f8ff;
  }
}
