.ExcelSettingModal {
  thead {
    display: none;
  }

  tbody > tr > td:first-child {
    padding-left: 0px !important;
  }

  tbody > tr:hover {
    background-color: #f5f5f5;
  }

  .ant-table-tbody > tr.ant-table-row-selected > td {
    background-color: initial;
  }

  tr.drop-over-downward td {
    border-bottom: 1px dashed #1890ff;
  }

  tr.drop-over-upward td {
    border-top: 1px dashed #1890ff;
  }
}

.ExcelSettingModal {
  top: 0;
  width: max-content !important;

  .modal-footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;

    > button {
      font-size: 12px;
    }
  }

  .ant-modal-body {
    padding: 20px;
  }
}

.ant-modal-mask {
  background-color: rgba(15,12,41,.5);
}
