.SelectPersonnalModal {
  top: 0;
  // width: max-content !important;

  .modal-footer-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-left: 5px;
    margin-right: 5px;

    > button {
      font-size: 12px;
    }
  }

  .ant-modal-body {
    padding: 20px;
  }

  .personnel-list {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    padding: 8px 20px;
    margin-top: 5px;
  }

  ul.ant-list-items li.ant-list-item {
    padding-left: 6px;
    border-radius: 2px;
  }


  ul.ant-list-items li.ant-list-item:hover {
    background-color: #f2f4f8;
    cursor: pointer;
  }
}
