/* toggle sidebar button */

.trigger {
  font-size: 18px;
  line-height: 50px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1d5425;
}

.logo {
  height: 32px;
  background: #42a94a;
  margin: 9px;
}

/* .main-menu {} */

.logo-header {
  width: 32px;
  height: 32px;
  background: #ffffff;
  margin: 9px;
}

.header {
  display: flex;
}

.site-layout-horizontal {
  margin-top: 50px;
}

.btn-setting {
  position: fixed;
  right: 0px;
  top: 50%;
}

/* layout background */

.site-layout {
  background-color: #fff;
}

.site-layout .site-layout-background {
  background: #fff;
}

.site-header-background {
  background-color: #f0f2f5;
}

/* ant table */

.ant-table {
  font-size: 13px;
}

th {
  user-select: none;
}

.ant-table-tbody > tr > td {
  padding: 10px 16px;
}

/* notification icon */

.notificationIcon:hover {
  background-color: #f9f9fc;
}

/* resizeable table */

.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: col-resize;
  /* cursor: url(https://res.cloudinary.com/ourapp-upload/image/upload/c_scale,w_18/v1587197628/resize_s3txc4.png), col-resize; */
  z-index: 1;
}

/* scrollbar */

@media screen and (min-width: 992px) {
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #e6e6e6;
  }
}

/* end scrollbar */

.notice-icon {
  padding: 0 15px;
  cursor: pointer;
  transition: all 0.3s;
}

.notice-icon:hover,
.menu-avatar-wrapper:hover {
  background: rgba(0, 0, 0, 0.025);
}

.menu-avatar-wrapper {
  display: inline-block;
  cursor: pointer;
  padding: 0 15px;
}

.menu-avatar .menu-item-avatar {
  padding-right: 50px;
}

/* .menu-avatar {} */

.tab-pane {
  padding: 12px;
}

.ant-layout-header {
  height: 50px;
  padding: 0 50px;
  line-height: 50px;
  background: #001529;
}

.main-menu {
  background-color: #24a949;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #1d5425;
}

.ant-layout-sider {
  background-color: #f0f2f5;
}

.MyBreadCrumb {
  margin-bottom: 14px;
}

.MyBreadCrumb {
  span:last-child a,
  span a {
    color: #000;
    font-size: 14px;
    font-weight: 500 !important;
  }

  span a:hover {
    color: #000;
  }

  span a.active {
    font-weight: bold !important;
  }
}

.icon-option {
  margin-right: 10px;
}
