/* toggle sidebar button */

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: #1e8efa;
  margin: 16px;
}

/* .main-menu {} */

.logo-header {
  width: 32px;
  height: 32px;
  background: #1e8efa;
  margin: 16px;
}

.header {
  display: flex;
}

.site-layout-horizontal {
  margin-top: 66px;
}

.btn-setting {
  position: fixed;
  right: 0px;
  top: 50%;
}

/* layout background */

.site-layout .site-layout-background {
  background: #fff;
}

/* ant table */

.ant-table {
  font-size: 13px;
}

th {
  user-select: none;
}

.ant-table-tbody>tr>td {
  padding: 10px 16px;
}

/* notification icon */

.notificationIcon:hover {
  background-color: #f9f9fc;
}

/* resizeable table */

.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: url(https://res.cloudinary.com/ourapp-upload/image/upload/c_scale,w_18/v1587197628/resize_s3txc4.png), col-resize;
  z-index: 1;
}

/* scrollbar */

@media screen and (min-width: 992px) {
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #e6e6e6;
  }
}

/* end scrollbar */

.notice-icon {
  padding: 0 15px;
  cursor: pointer;
  transition: all .3s;
}

.notice-icon:hover, .menu-avatar-wrapper:hover {
  background: rgba(0, 0, 0, .025);
}

.menu-avatar-wrapper {
  display: inline-block;
  cursor: pointer;
  padding: 0 15px;
}

.menu-avatar .menu-item-avatar {
  padding-right: 50px;
}

/* .menu-avatar {} */

/* form login  */

.login-form {
  border: #fff solid 1px;
  padding: 70px 30px;
  background-color: #fff;
}
.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.login-form-register{
  padding-top: 12px;
  float: right;
}
.wrapper{
  background-image: url('./image/background.jpg');
}
