.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.ant-table {
  font-size: 13px;
}

th {
  user-select: none;
}

.ant-table-tbody>tr>td {
  padding: 10px 16px;
}

.notificationIcon:hover {
  background-color: #f9f9fc;
}

.react-resizable {
  position: relative;
  background-clip: padding-box;
}

.react-resizable-handle {
  position: absolute;
  width: 10px;
  height: 100%;
  bottom: 0;
  right: -5px;
  cursor: url(https://cdn3.iconfinder.com/data/icons/interface/100/scale_width_1-512.png), col-resize;
  z-index: 1;
}

/*============================*/

@media screen and (min-width: 992px) {
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    background-color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #ffffff;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #e6e6e6;
  }
}

/*======================*/